<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @restaurant.phone_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @restaurant.category %>
</p>

<p>
  <strong>Reviews:</strong><br>
  <% @restaurant.reviews.each_with_index do |review, index| %>
  <li> <u><%= index + 1 %></u> <br>Rating: <%= review.rating %><br>
  Details: <%= review.content %><br></li><br>
  <% end %>
</p>

<%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
